<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>淮北师范大学二手交易网站</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../../public/css/base.css" />
    <link rel="stylesheet" href="../../public/css/index.css" />
    <link rel="stylesheet" href="../../public/css/animate.css" />
    <link rel="stylesheet" href="../../public/fonts/iconfont.css" />
    <!-- 为标题添加图标logo -->
    <link rel="shortcut icon" type="image/x-icon" href="../../public/favicon-ico.ico" media="screen">
    <script src="../../public/javascripts/jquery-3.2.1.min.js"></script>
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <script src="../../public/javascripts/jquery.singlePageNav.min.js"></script>
    <script src="../../public/javascripts/wow.min.js"></script>
    <script src="../../public/javascripts/index.js"></script>
    <!-- 解决html5和媒体查询的兼容性 -->
    <!-- [if lt IE 9]  -->
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <!-- [endif]  -->
</head>
<body>
    <!-- 顶部通栏 -->
    <header id="nav">
       <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                    <!-- logo和折叠菜单 -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#" id="logo">
                          <img src="../../public/images/logo_03.png" alt="" />

                      </a>
                      <span id="adress" class="hidden-xs hidden-sm"><i class="iconfont icon-dizhi"></i>淮北</span>
                    </div>

                    <!-- 导航条 -->
                    <div class="collapse navbar-collapse" id="#bs-example-navbar-collapse-1 ">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" class="active">首页</a></li>
                        <li><a href="#dev">跳蚤市场</a></li>
                        <li><a href="#html5">微聊天</a></li>
                        <li><a href="#cource">最新交易</a></li>
                        <li><a href="#mobile">我要卖</a></li>
                        <!-- <%=!login%> <%=nickname%> -->
                        <% 
                          if(!login){
                         %>
                             <li>
                                <a href="#map" type="button" class="btn-success btn-md">
                                    <span class="glyphicon glyphicon-user"></span>加入我们
                                </a>
                          </li>
                       <%
                         }else{ 
                       %>
                           <li>
                            <a id="defeat" type="button" class="btn-success btn-md">
                                <span class="glyphicon glyphicon-user"></span>退出！<%=nickname%>
                            </a>
                          </li>
                          
                     <%
                       }
                       %>
                      </ul>
                    </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- 侧边栏 -->
    <aside id="aside">
        <ul>
            <li >
                <a href="">
                </a>
            </li>
            <% 
              if(!login){
            %>
            <li >
                    <i class="glyphicon glyphicon-shopping-cart">
                        <b id="num">0</b>
                    </i>
                    <span>没有购物</span>
            </li>
            <%
                         }else{ 
                       %>
            <li >
                <a href="/cart">
                    <i class="glyphicon glyphicon-shopping-cart">
                        <b id="num">0</b>
                    </i>
                    <span>我的购物</span>
                </a>
            </li>
            
            <%
                }
             %>
            <li >
                <a id="kefu" href="https://helpcenter.taobao.com/index?spm=a21pu.8241472.0.0.5f1bbc4bTs2Ed5">
                    <span>在线客服</span>
                </a>
                
            </li>
            <li >
                <a href="#home" id="top">
                </a>
            </li>
        </ul>
    </aside>
    <!-- 第一屏 -->
    <section id="home">
        <div class="lvjing">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 wow bounceInUp"  data-wow-duration="5s">
                        <h1>让你的闲置游起来</h1>
                        <h3>——轻松卖闲置，你想要的.....</h3>
                        <button class="btn btn-lg btn-primary">了解更多</button>
                        <p>或致电0571-8522&nbsp 5288</p>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
        </div>
    </section>
    <!--跳蚤市场 -->
    <section id="dev">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow bounceIn" data-wow-duration="2s">
                    <a href="/books">
                        <img src="../../public/images/1_df5a3a7.png" class="img-responsive" />
                        <h3>书程小驿</h3>
                        <p>快来这里接受灵魂的洗礼</p>
                    </a>
                </div>
                <div class="col-md-4 wow bounceIn" data-wow-duration="2s">
                    <a href="/live">
                        <img src="../../public/images/2_d3bb9b1.png" class="img-responsive" />
                        <h3>良品铺子</h3>
                        <p>生活品质决定了生活高度</p>
                    </a>
                </div>
                <div class="col-md-4 wow bounceIn" data-wow-duration="2s">
                    <a href="/common">
                        <img src="../../public/images/3_d69a162.png" class="img-responsive" />
                        <h3>解忧杂货</h3>
                        <p>你想要的，在这里</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- 论坛 -->
    <section id="html5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow bounceInLeft" data-wow-duration="2s">
                    <h2 class="col-sm-12 col-sm-12">在线微聊天</h2>
                    <h4 class="col-sm-12">帮你轻松玩转社交电商</h4>
                    <p class="col-sm-12">
                        <i class="glyphicon glyphicon-gift"></i>从渠道打通、会员管理到精准客户营销，全方位覆盖经营场景
                    </p>
                    <p class="col-sm-12">
                        <i class="glyphicon glyphicon-hand-right"></i>提供安全可靠的技术支持，你只需专注你想要的
                    </p>
                    <p class="col-sm-12">
                        <a href="/weichat" type="button" class="btn-primary btn-lg">立即体验</a>
                        <a href="" type="button" class="btn-primary btn-lg learn">了解更多</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 wow bounceInRight" data-wow-duration="2s">
                    <img src="../../public/images/wsc.jpg" alt="" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>
    <!-- 最新交易 -->
    <section id="cource">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn" data-wow-delay="1s">
                    <h2>最新交易</h2>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cource">
                           <img src="../../public/images/swift.jpg" alt="" />
                           <p><a href="">加入学习</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 移动 -->
    <section id="mobile">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow zoomInLeft" >
                    <img src="../../public/images/sample2.png" alt="" class="img-responsive" />
                </div>
                <div class="col-md-6 wow shake" data-wow-delay="0.8s">
                    <h2>让你的闲置游起来</h2>
                    <h4>只要你闲置的，咱们是专业的！</h4>
                    <p class="col-sm-12">
                        <i class="glyphicon glyphicon-gift"></i>从渠道打通、会员管理到精准客户营销，全方位覆盖经营场景
                    </p>
                    <p class="col-sm-12">
                        <i class="glyphicon glyphicon-hand-right"></i>提供安全可靠的技术支持，你只需专注你想要的
                    </p>
                    <p class="col-sm-12">
                        <a href="" type="button" class="btn-primary btn-lg">立即体验</a>
                        <a href="" type="button" class="btn-primary btn-lg learn">了解更多</a>
                    </p>
                </div>
                
            </div>
        </div>
    </section>
    <!-- 登录注册 -->
    <section id="map">
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>联系我们</h2>
                        <p>安徽省淮北市烈山区</p>
                        <address>
                            <p>安徽省淮北市烈山区沱河东路八号</p>
                            <p>联系电话：182-5612-8355</p>
                            <p>1783212773@qq.com</p>
                        </address>
                    </div>
                    <div class="col-md-5 wow bounceInRight" data-wow-duration="2s">
                        <div class="col-lg-12">
                           <h3>分享生活，留住感动</h3>  
                        </div>
                        <form action="/login" action="post" class="clearfix">
                            <div class="col-lg-12">
                               <input type="text" placeholder="昵称" name="usename" />  
                            </div>
                            <div class="col-lg-12">
                               <input type="password" placeholder="密码" name="password" />
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <a type="button" class="btn-success btn-sm login">登录</a>
                                </div>
                                <div class="col-lg-7">
                                    <span>还没账号？</span>
                                    <a href="/regist" type="button" class="btn-danger btn-lg">加入我们</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- 底部 -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Designed and built with all the love in the world by @Mr.zhu by the core team with the help of our contributors.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>